.download{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    background-color:#14140D;
}
.download img{
    height:450px;
}
.d_text{
    height: 450px;
    width:650px;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: center;
}
.yellow{
    color:#FFBE5C;
    font-size: 70px;
    font-weight: 600;
}
.d_t{
    height:80px;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;;
}
.d_t p{
    font-size: 80px;
    color:#fff;
    font-weight:600;
}
.d_t img{
    margin-top: 16px;
    margin-left:13px;
    height:80px;
    margin-bottom: 20px;;
}
.d_t2{
    height:24px;
    width:350px;
    margin:20px 0 0 0;
    background:transparent;
    color:grey;
    font-size:20px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
}
.d_t3{
    height:24px;
    width:350px;
    margin:0 0 20px 0;
    background:transparent;
    color:grey;
    font-size:20px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
}
.d_icon{
    display: flex;
    flex-direction: row;
    width: 360px;
    height:64px;
    gap:20px;
    /* background-color: #fff; */
}
.d_icon img{
    height:58px;
    width:180px;
}
@media screen and (max-width:1200px) {
    
    
    
    
    
    .dt_stroke{
        margin-left: 14px;
    }
    
    
    .d_icon{
        width: 140px;
        height:40px;
        display: flex;
        justify-content: end;
        margin-top: 10px;
        
    }
    .d_icon img{
        height:40px;
        width:120px;
    }
}
@media screen and (max-width:1200px) {
    .download{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .download img{
        height:250px;
        width:250px;
    }
    .d_text{
        height: 200px;
        width:100%;
        justify-content: center ;
        align-items: center;
    }
    .yellow{
        color:#FFBE5C;
        font-size: 30px;
        font-weight: 600;
    }
    .d_t{
        height:24px;
        margin-bottom: 10px;;
    }
    .d_text .d_t p{
        color:#fff;
        font-weight:500;
        font-size: 30px;
    }
    
    .d_t2{
        height:16px;
        width:100%;
        font-size: 12px;
    margin:10 0 0 0;
    justify-content: center;

    }
    .d_t3{
        height:16px;
        width:100%;
        font-size: 12px;
    margin:0 0 10px 0;
    justify-content: center;

    }   
     .d_icon{
        width: 100%;
        gap:10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height:36px;
        display: flex;
        /* justify-content: end; */
        margin-top: 5px;
    }
    .d_icon img{
        height:30px;
        width:100px;
    }
}