header{
    height:75px;
    width: 100%;
    background:transparent;
    /* position: fixed; */
    
}
nav{
    height:100%;
    width:100%;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    /* height:60px; */
    width:210px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left:100px;
    background: transparent;
}
.logo img{
    width:210px;
    /* height:50px; */
}
.nav_ele{
    height:75px;
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    gap:25px;
    margin-right:120px;
    font-size: 19px;
    letter-spacing: 2px;
    right:0px;
}
.nav_ele a{
    text-decoration: none;
    color:#fff;
}
.nav_ele a:hover{
    color:#FFBE5C;
}
.nav_ele button{
    width:120px;
    height:40px;
    border: 1px solid #FFBE5C;
    background: none;
    border-width: 5px;
    font-size: 14px;
}
.nav_ele button:hover{
    cursor: pointer;
    color:#FFBE5C;
}
.hamMenu{
    display: none;
}
@media screen and (max-width:1200px) {
    .nav_ele{
        position: fixed;
        display: flex;
        top:0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:100vh;
        width:150px;
        margin-right: 0px;
        right:-180px;
        z-index: 9999;
        background-color: #14140D;
    }
    .hamMenu{
        /* position: relative; */
        display: none;
        z-index:999;
        right:50px;
        transition: ease 0.8s;
    }
    .hamMenu:checked + .nav_ele{
        right:0;
    }
    .menuBar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index:999999;
        gap:4px;
        transition: ease 0.9s;
        right:50px;
        position: relative;
    }
}
@media screen and (max-width:500px) {
    .logo img{
        width:160px;
        /* height:40px; */
    }
    .logo{
        width:160px;
        /* height:40px; */
        margin-left:50px;

    }
    
}
@media screen and (max-width:300px) {
    .logo img{
        width:120px;
        /* height:40px; */
    }
    .logo{
        width:120px;
        /* height:40px; */
        margin-left:30px;

    }
    
}